Package: harboros-im-gate
Version: VERSION_PLACEHOLDER
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6
Maintainer: Harborinno Ltd.
Description: HarborNAS IM Gateway Service
  Background service that communicates with multi IM channel.
